{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="background-color: #e9ecef;">
    <div class="justify-content-lg-center"  >
    <h1 class="mt-4 text-md-center">Lubricantes y Accesorios España</h1>
    <h1 class="mt-4 text-md-center">Lubriaccesorios España, Sistema de gestion de planilla</h1>
    <div style="display: flex; align-items: center; text-align: center;">
        <img src="/static/assets/img/logo.jpg" alt="" style="width: 250px; height: 250px;  margin-left: 10px;">
        <h6 style="flex: 1;">Lubriaccesorios España es una empresa especializada en la venta de lubricantes y accesorios de vehículos automotores.</h6>
    </div>
</div>
</div>

{% endblock %}